
menu "Services"


config STANDBY_SERVICE
	def_bool y
	prompt "Standby service support"

config FDT_USED
	def_bool y
	prompt "fdt lib support"

config FDT_INIT_ARISC_USED
	def_bool n
	depends on FDT_USED
	prompt "init arisc module from fdt support"

endmenu
