CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN55IW3=y
CONFIG_SUNXI_GPIO_V2=y
#CONFIG_AXP_GPIO=y
CONFIG_DEFAULT_DEVICE_TREE="sun55iw3p1-soc-system"
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_CONSOLE_MUX=y
#CONFIG_OF_BOARD=y
CONFIG_SYS_TEXT_BASE=0x4A000000

#secure
CONFIG_SUNXI_SECURE_BOOT=y
CONFIG_SUNXI_IMAGE_VERIFIER=y
CONFIG_SUNXI_KEYBOX=y
CONFIG_SUNXI_DRM_SUPPORT=y
#system
CONFIG_ARM_SMCCC=y
CONFIG_SUNXI_DMA=y
CONFIG_PHYS_64BIT=y

#SPI
CONFIG_SPI=y
CONFIG_SUNXI_SPI=y
#CONFIG_SPI_USE_DMA=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_EON=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_ATMEL=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_SST=y
CONFIG_SPI_FLASH_PUYA=y
CONFIG_SPI_FLASH_FM=y
CONFIG_SPI_FLASH_XMC=y

CONFIG_SF_DEFAULT_SPEED=50000000
# BIT(12) BIT(13) (SPI_RX_DUAL|SPI_RX_QUAD)
CONFIG_SF_DEFAULT_MODE=0x3000
CONFIG_SPINOR_UBOOT_OFFSET=128
CONFIG_SPINOR_LOGICAL_OFFSET=2016

# flash
CONFIG_SUNXI_SDMMC=y
CONFIG_MMC=y
CONFIG_SUNXI_FLASH=y
CONFIG_SUNXI_NAND=y
CONFIG_SUNXI_UBIFS=y
CONFIG_SUNXI_COMM_NAND_V1=y
CONFIG_SUNXI_SPINOR=y

#
# sunxi-nand
#
CONFIG_AW_MTD_SPINAND=y
# CONFIG_AW_MTD_RAWNAND is not set
CONFIG_AW_SPINAND_PHYSICAL_LAYER=y
CONFIG_AW_SPINAND_NONSTANDARD_SPI_DRIVER=y
# CONFIG_AW_SPINAND_ENABLE_PHY_CRC16 is not set
# CONFIG_AW_SPINAND_PSTORE_MTD_PART is not set
CONFIG_AW_MTD_SPINAND_UBOOT_BLKS=24
CONFIG_AW_SPINAND_SIMULATE_MULTIPLANE=y
# CONFIG_AW_MTD_SPINAND_OOB_RAW_SPARE is not set
CONFIG_AW_RAWNAND_SIMULATE_MULTIPLANE=y

#usb otg config
CONFIG_SUNXI_USB=y
CONFIG_SUNXI_EFEX=y
CONFIG_SUNXI_BURN=y

#partition
CONFIG_EFI_PARTITION=y
CONFIG_LAST_PARTITION_NAME="userdata"
CONFIG_SUNXI_UPDATE_GPT=y

#image
CONFIG_ANDROID_BOOT_IMAGE=y

#sprite
CONFIG_SUNXI_SPRITE=y
CONFIG_SUNXI_SECURE_STORAGE=y
CONFIG_SUNXI_SPRITE_CARTOON=y

#android
CONFIG_SUNXI_MAC=y
CONFIG_SUNXI_USER_KEY=y
CONFIG_SUNXI_AVB=y
CONFIG_SUNXI_ANDROID_BOOT=y
CONFIG_SUNXI_SERIAL=y
CONFIG_SUNXI_VERIFY_BOOT_INFO_INSTALL=y
CONFIG_ANDROID_AB=y

#cmd
CONFIG_CMD_SUNXI_TIMER=y
CONFIG_CMD_SUNXI_SPRITE=y
CONFIG_CMD_SUNXI_EFEX=y
CONFIG_CMD_SUNXI_BURN=y
CONFIG_CMD_GPT=y
CONFIG_CMD_FAT=y
CONFIG_CMD_SUNXI_MEMTEST=y
CONFIG_CMD_FASTBOOT=y
CONFIG_CMD_PART=y
CONFIG_CMD_AB_SELECT=y
CONFIG_CMD_SUNXI_BOOTRV=y


#overlay
CONFIG_SUNXI_ANDROID_OVERLAY=y

CONFIG_SUNXI_OTA_TURNNING=y


CONFIG_OF_SEPARATE=y
CONFIG_SUNXI_NECESSARY_REPLACE_FDT=y

CONFIG_PWM_NOT_USE=y
CONFIG_SUNXI_WDT_V2=y
CONFIG_SUNXI_GPIO_POWER_VOL_MODE=y

