CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN8IW21=y
CONFIG_SUNXI_GPIO_V2=y
#CONFIG_AXP_GPIO=y
CONFIG_SYS_CONFIG_NAME="sun8iw21p1"
CONFIG_DEFAULT_DEVICE_TREE="sun8iw21p1-soc-system"
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_CONSOLE_MUX=y
CONFIG_SUNXI_NECESSARY_REPLACE_FDT=y
CONFIG_RESERVE_FDT_SIZE=0x20000
CONFIG_PRE_CONSOLE_BUFFER=n
# CONFIG_OF_BOARD=y
CONFIG_OF_SEPARATE=y
CONFIG_SYS_TEXT_BASE=0x43000000
CONFIG_SUNXI_FDT_ADDR=0x41800000

#system
CONFIG_ARM_SMCCC=y
#CONFIG_SUNXI_DEBUG=y
CONFIG_SUNXI_DMA=y

#SPI
CONFIG_SPI=y
CONFIG_SUNXI_SPI=y
CONFIG_SPI_USE_DMA=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_EON=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_ATMEL=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_SST=y
CONFIG_SPI_FLASH_PUYA=y
CONFIG_SPI_FLASH_FM=y
CONFIG_SPI_FLASH_XT=y
CONFIG_SPI_FLASH_ADESTO=y
CONFIG_SPI_FLASH_XMC=y
CONFIG_SPI_SAMP_DL_EN=y

CONFIG_SF_DEFAULT_SPEED=50000000
# BIT(12) BIT(13) (SPI_RX_DUAL|SPI_RX_QUAD)
CONFIG_SF_DEFAULT_MODE=0x3000
CONFIG_SPINOR_UBOOT_OFFSET=128
CONFIG_SPINOR_LOGICAL_OFFSET=4064



# flash
CONFIG_SUNXI_SDMMC=y
CONFIG_MMC=y
CONFIG_SUNXI_FLASH=y
#CONFIG_SUNXI_NAND=y
CONFIG_SUNXI_SPINOR=y
# CONFIG_SUNXI_NOR_IMG=y
CONFIG_SUNXI_SPIF=y

#usb otg config
CONFIG_SUNXI_USB=y
CONFIG_SUNXI_EFEX=y
#CONFIG_SUNXI_BURN=y
CONFIG_SUNXI_FASTBOOT=y
#partition
CONFIG_EFI_PARTITION=y


#image
CONFIG_ANDROID_BOOT_IMAGE=y

#sprite
CONFIG_SUNXI_SPRITE=y
# CONFIG_SUNXI_AUTO_UPDATE=y
CONFIG_SUNXI_PART_UPDATE=y

CONFIG_SUNXI_SPRITE_CARTOON=y

#cmd
CONFIG_CMD_SUNXI_TIMER=y
CONFIG_CMD_SUNXI_SPRITE=y
CONFIG_CMD_SUNXI_EFEX=y
CONFIG_CMD_SUNXI_BURN=y
CONFIG_CMD_FASTBOOT=y
CONFIG_CMD_GPT=y
CONFIG_CMD_FAT=y
CONFIG_CMD_SUNXI_DMA=y
CONFIG_CMD_SF=y
CONFIG_CMD_SF_TEST=y
CONFIG_CMD_PART=y
CONFIG_CMD_SUNXI_BOOTR=y

CONFIG_SUNXI_ARM_SOFT_FP=y
CONFIG_USE_PRIVATE_LIBGCC=y

#adc
# CONFIG_SUNXI_GPADC=y

#COMP
#CONFIG_SUNXI_COMP_GZ=y

# BOOT GUI
#
CONFIG_BOOT_GUI=y

#
# SUNXI LOGO DISPLAY
#
#
CONFIG_CMD_SUNXI_BMP=y
# CONFIG_SUNXI_SPINOR_BMP is not set
# CONFIG_ENABLE_ADVERT_PICTURE is not set
# CONFIG_SUNXI_SPINOR_JPEG is not set
# CONFIG_CMD_SUNXI_JPEG is not set
CONFIG_DISP2_SUNXI=y
# CONFIG_HDMI_DISP2_SUNXI is not set
# CONFIG_HDMI2_DISP2_SUNXI is not set
# CONFIG_VDPO_DISP2_SUNXI is not set
# CONFIG_TV_DISP2_SUNXI is not set
# CONFIG_EDP_DISP2_SUNXI is not set
# CONFIG_EINK200_SUNXI is not set

# clk for DE
CONFIG_CLK_SUNXI=y


# LCD panels select
#
CONFIG_LCD_SUPPORT_T050K589=y

# PWM_SUNXI
CONFIG_PWM_SUNXI=y

